<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  <applicationSettings/>
  <connectionStrings/>
  <appSettings>
    <add key="llavePublica" value="6LdazaoUAAAAALGHJA0jAiv3PlGdLSZebGgkw07h"/>
    <add key="llavePrivada" value="6LdazaoUAAAAAHIsQbwVqCeirEd2oemazQiCanhc"/>
    <add key="codigoSistema" value="IRH"/>
    <add key="sistemaNombre" value="VALIDADOR  DE DOCUMENTOS"/>
    <add key="codigoMunicipalidad" value="LB"/>
    <add key="comunaNombre" value="LAS BARRANCAS"/>
    <!-- MAPPING -->
    <add key="rutaMapping" value="C:\Proexsi"/>
    <add key="severnom" value="SERVERNAME=PXDES_3_220_W"/>
    <add key="sharen" value="SHARENAME=proexsi"/>
    <add key="creden" value="CREDENTIALS=lc_mapping/mapping"/>
    <!-- FTP -->
    <add key="rutaFtp" value="servicio_local_las_barrancas"/>
    <add key="directorioFtp" value="PersonalyRemuneracionesLiquidaciones"/>
    <add key="FtpCertAntiguedad" value="PersonalyRemuneracionescertificados/AntiguedadLaboral/"/>
    <add key="FtpCertAntiguedadRenta" value="PersonalyRemuneracionescertificados/AntiguedadRenta/"/>
    <add key="servidorFtp" value="ftp://172.16.3.220/"/>
    <add key="servidorHttp" value="http://172.16.3.220:8080/"/>
    <add key="usuarioFtp" value="slba_ftp"/>
    <add key="passwordFtp" value="slba1234"/>
    <!-- PDF -->
    <add key="margen" value="SUP=20|INF=20|IZQ=20|DER=20|"/>
    <add key="orientacion" value="PORTRAIT"/>
    <add key="rutaPdfLiquidaciones" value="http://172.16.3.220:8080/Servicio_Local_Las_Barrancas/PersonalyRemuneracionesLiquidaciones"/>
    <add key="rutaPdfAntiguedad" value="http://172.16.3.220:8080/Servicio_Local_Las_Barrancas/PersonalyRemuneracionesCertificados/AntiguedadLaboral/"/>
    <add key="rutaPdfAntiguedadRenta" value="http://172.16.3.220:8080/Servicio_Local_Las_Barrancas/PersonalyRemuneracionesCertificados/AntiguedadRenta/"/>
    <!-- WS -->
    <add key="WS_FirmaDigital.Service" value="http://172.16.3.220/Servicio_Local_Las_Barrancas/Web_Service/WS_ValidadorDocumentos/Service.asmx"/>

    <!-- CAPTCHA -->
    <add key="recaptcha" value="https://www.google.com/recaptcha/api/siteverify?secret=6LdazaoUAAAAAHIsQbwVqCeirEd2oemazQiCanhc "/>

    <!-- SCRIPT VERSION -->
    <add key="script.version" value="0"/>
  
  </appSettings>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="32768"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.web>
    <sessionState timeout="60"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Extensions.Design, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="ADODB, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpRuntime requestValidationMode="2.0" maxUrlLength="560" maxQueryStringLength="2097151"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <clear/>
        <add namespace="System"/>
        <add namespace="System.Collections"/>
        <add namespace="System.Collections.Specialized"/>
        <add namespace="System.Configuration"/>
        <add namespace="System.Text"/>
        <add namespace="System.Text.RegularExpressions"/>
        <add namespace="System.Web"/>
        <add namespace="System.Web.Caching"/>
        <add namespace="System.Web.SessionState"/>
        <add namespace="System.Web.Security"/>
        <add namespace="System.Web.Profile"/>
        <add namespace="System.Web.UI"/>
        <add namespace="System.Web.UI.WebControls"/>
        <add namespace="System.Web.UI.WebControls.WebParts"/>
        <add namespace="System.Web.UI.HtmlControls"/>
      </namespaces>
    </pages>
    <authentication mode="Windows"/>
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="font/x-woff"/>
    </staticContent>
  </system.webServer>
</configuration>